.section.sec-porto
    .container.con-porto
        .frame-porto
            .frame-porto-card
                .card-porto-head
                    h1 25
                    img(src="assets/icon-porto-1.svg" alt="icon-porto")
                span.card-porto-body Curated categories
            .frame-porto-card
                .card-porto-head
                    h1 >100k
                    img(src="assets/icon-porto-2.svg" alt="icon-porto")
                .card-porto-body hand-picked assets
            .frame-porto-card
                .card-porto-head
                    h1 1000+
                    img(src="assets/icon-porto-3.svg" alt="icon-porto")
                span.card-porto-body new assets every day