section.section.sec-core-value
    .container.con-core-value
        .core-value-content 
            .content-top 
                span Our Core Values
                h3 We are acutely aware of the ethical implications of AI, which is why we uphold the highest standards in all our operations
            ul.content-bottom 
                li 
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.5 12C9.768 12 12.5 9.363 12.5 3C12.5 9.363 15.213 12 21.5 12C15.213 12 12.5 14.713 12.5 21C12.5 14.713 9.768 12 3.5 12Z" fill="#2B65F4" stroke="#2B65F4" stroke-width="1.5" stroke-linejoin="round"/>
                    </svg>
                    span Ethical implications of
                li 
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.5 12C9.768 12 12.5 9.363 12.5 3C12.5 9.363 15.213 12 21.5 12C15.213 12 12.5 14.713 12.5 21C12.5 14.713 9.768 12 3.5 12Z" fill="#2B65F4" stroke="#2B65F4" stroke-width="1.5" stroke-linejoin="round"/>
                    </svg>
                    span Highest Standards 
                li 
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.5 12C9.768 12 12.5 9.363 12.5 3C12.5 9.363 15.213 12 21.5 12C15.213 12 12.5 14.713 12.5 21C12.5 14.713 9.768 12 3.5 12Z" fill="#2B65F4" stroke="#2B65F4" stroke-width="1.5" stroke-linejoin="round"/>
                    </svg>
                    span Respectful 
                li 
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.5 12C9.768 12 12.5 9.363 12.5 3C12.5 9.363 15.213 12 21.5 12C15.213 12 12.5 14.713 12.5 21C12.5 14.713 9.768 12 3.5 12Z" fill="#2B65F4" stroke="#2B65F4" stroke-width="1.5" stroke-linejoin="round"/>
                    </svg>
                    span intentionally crafted 