.section.sec-faq
    .container.con-faq
        .faq-title
            span(data-aos="fade-up"
            data-aos-duration="1000" 
            data-aos-once="true")  faq
            h1(data-aos="fade-up"
            data-aos-duration="1500" 
            data-aos-once="true")  Lorem ipsum dolor sit amet
        .faq-container
            .faq-item
                .faq-question
                    span What happens if I don't use all my subscription credits each month?
                    span.icon +
                .faq-answer Unused credits will roll over to the next month if you have an auto-renewing subscription enabled. If auto-renew is disabled when your subscription term ends, you will lose all accumulated downloads.

            .faq-item
                .faq-question
                    span How does automatic renewal work?
                    span.icon +
                .faq-answer The auto-renew feature ensures that your subscription automatically renews so your service is uninterrupted.

            .faq-item
                .faq-question
                    span Can I cancel my subscription?
                    span.icon +
                .faq-answer Yes, you can cancel your subscription at any time. You will be able to continue downloading until the end of your billing cycle.

    