.section.sec-gallery
    .container.con-gallery
        .gallery-content
            span.gallery-content-span Our gallery
            h2.gallery-content-title See our gallery
        .swiper.mySwiper
            .swiper-wrapper
                .swiper-slide
                    img(src="https://swiperjs.com/demos/images/nature-1.jpg")
                .swiper-slide
                    img(src="https://swiperjs.com/demos/images/nature-2.jpg")
                .swiper-slide
                    img(src="https://swiperjs.com/demos/images/nature-3.jpg")
                .swiper-slide
                    img(src="https://swiperjs.com/demos/images/nature-4.jpg")
                .swiper-slide
                    img(src="https://swiperjs.com/demos/images/nature-5.jpg")
                .swiper-slide
                    img(src="https://swiperjs.com/demos/images/nature-6.jpg")
                .swiper-slide
                    img(src="https://swiperjs.com/demos/images/nature-7.jpg")
                .swiper-slide
                    img(src="https://swiperjs.com/demos/images/nature-8.jpg")
                .swiper-slide
                    img(src="https://swiperjs.com/demos/images/nature-9.jpg")
            .swiper-wrapper-button
                .swiper-wrapper-button-prev
                    img(src="assets/icon-arrow.svg")
                .swiper-wrapper-button-next
                    img(src="assets/icon-arrow.svg")


