div.section.sec-header
    div.container.con-header
        div.header-content
            div.content
                div.content-span-button
                    span In a nutshell
                h1.content-title 
                    span.content-title-inner Aimaget is 
                        img(src="assets/icon-spark.svg" alt="icon")
                    span.content-title-inner.yellow Revolutionizing
                    span.content-title-inner The stock image
                    span.content-title-inner Industry
                        img(src="assets/img-people.png" alt="images").span-img-people
                    span.content-title-inner With Generative AI
                div.search-container
                    input.search-input(type="text" placeholder="Search...")
                    button.search-button
                        img(src="assets/icon-search.svg" alt="icon-search").icon-search
                p.content-description Our platform offers a continuously growing collection of AI-created images designed to fulfill the varied and changing requirements of artists, advertisers, and companies worldwide. If you need original visuals for a project or ideas for your next marketing strategy, our AI-powered collection provides limitless options at your disposal.
            div.content
                img(src="assets/image-header.webp" alt="header-img").content-img