.section.sec-navbar
    .container.con-navbar
        .brand-navbar
            a
                img(src="assets/logo.svg" alt="brand")
        .menus-navbar
            .menus-navbar-menus
                a(href="/" target="_blank").link-menu Home
                a(href="/" target="_blank").link-menu Service
                a(href="/" target="_blank").link-menu About
                a(href="/" target="_blank").link-menu Product
            a(href="/" target="_blank").button-navbar Contact Us