doctype html
html
  head
    title Gulp Pug Example with SASS
    link(rel="stylesheet" href="css/style.css") 
  body
    h1 Hello from header index!
    p Hello from header index!
    include ../part/footer.pug