doctype html
html
  head
    title Aimaget
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet")
    link(rel="icon" type="image/x-icon" href="assets/favicon.svg")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.3/dist/css/splide.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(type="module" src="https://unpkg.com/@splinetool/viewer@1.9.36/build/spline-viewer.js")
    script(src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.3/dist/js/splide.min.js")
  body
    include ../part/navbar.pug
    include ../part/header.pug
    include ../part/cardPorto.pug
    include ../part/gallery.pug
    include ../part/whyChoose.pug
    include ../part/coreValues.pug
    include ../part/curatedContent.pug
    include ../part/mind.pug
    include ../part/vision.pug
    include ../part/joinUs.pug
    include ../part/pricing.pug
    include ../part/faq.pug
    include ../part/footer.pug
    script(src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.3/dist/js/splide.min.js")
    script(src="js/app.js")
    script(src="js/pricing.js")
    