.sec-login
    .con-login
        .frame-content-regis
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            .content-image-regis
                .img-regis
                    width: 620px
                    height: 700px
            .content-form-regis
                padding: 24px
                .form-content-regis
                    border-radius: 24px
                    background: var(--Linear, linear-gradient(180deg, #DDEBF8 0%, #FFF 100%))
                    padding: 32px
                    // width: 100%
                    // height: 100%
                    width: 692px
                    height: 520px
                    display: flex
                    flex-direction: column
                    justify-content: space-between
                    align-items: center
                    .form-content-title
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        align-items: center
                    .form-button-link
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        align-items: center
                    .form-sparator
                        display: flex
                        flex-direction: row
                        justify-content: space-between
                        align-items: center
                        width: 100%
                        span
                            width: 300px
                            display: flex
                            flex-direction: row
                            justify-content: center
                            align-items: center
                        .line-sparator
                            height: 1px
                            width: 100%
                            background: red
                    form
                        display: flex
                        flex-direction: column
                        width: 100%
.sec-signup
    .con-signup
        h1
            color: blue